// header font
$poppins : 'Poppins', sans-serif;
$audiowide: 'Audiowide', cursive;
$chakraPetch: 'Chakra Petch', sans-serif;

// social/skills icon font
$josefinSlab: 'Josefin Slab', serif;

// body font
$lato: 'Lato', sans-serif;